<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VendeTon"
        tools:targetApi="31">
        <activity
            android:name=".Activitys.ActivityEntregadosYSuministrados"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityDocumentos"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activitys.ActivityReporteProductosPorBodega"
            android:exported="false" >

        </activity>
        <activity
            android:name=".Activitys.ActivityMercancia"
            android:exported="false"></activity>
        <activity
            android:name=".Activitys.ActivityCrearProducto"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityProductos"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityAportacionDeProductos"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityCrearBodegas"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityBodegas"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityControlDeProductosEntregadosYSuministro"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityEditarBodegaOrigen"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityEditarDetalleDocumentoVM"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityCrearBodegaOrigen"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityCrearDetalleDocumentoVM"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityCrearDocumentoVM"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivityDocumentosVM"
            android:exported="false" />
        <activity
            android:name=".Activitys.ActivitySeleccionUsuario"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.activity_detalles_cliente"
            android:label="Detalles Cliente" />
        <activity
            android:name=".Activitys.activity_ver_info_documento_vm"
            android:label="Info documentoVM" />
        <activity
            android:name=".Activitys.activity_reportes"
            android:label="Reportes" >
        </activity>
        <activity
            android:name=".Activitys.activity_iniciar_sesion_admin"
            android:label="Iniciar sesion Admin" />
        <activity
            android:name=".Activitys.activity_iniciar_sesion_cliente"
            android:label="Iniciar sesion Cliente" />
        <activity
            android:name=".Activitys.activity_info_cliente"
            android:label="Info Cliente" />
        <activity
            android:name=".Activitys.activity_pagina_inicial"
            android:label="Pagina Inicial" >
        </activity>
    <activity
        android:name=".Activitys.activity_informe_catalogo"
        android:label = "Informe Catalogo"
        android:exported="false">

    </activity>
    <activity
        android:name=".Activitys.activity_documentos_vm_cliente"
        android:label = "Documentos Cliente"
        android:exported="false">
    </activity>
        <activity
            android:name=".Activitys.activity_crear_cliente"
            android:label = "Documentos Cliente"
            android:exported="false">

        </activity>
        <activity
            android:name=".Activitys.activity_ver_info_detalle_vm"
            android:label = "Documentos Cliente"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_clientes"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_reportes_bodegas"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_reportes_clientes"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_reportes_empleados"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_reportes_materiales"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_reportes_productos"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_reportes_proveedores"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_otros_reportes"
            android:label = "Clientes"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activitys.activity_contrapartes"
            android:label = "Clientes"
            android:exported="false">
        </activity>


    </application>

</manifest>